#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoList {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(77, 74, 74);
  width: 90%;
}

.title {
  color: #888;
  padding: 5px;
  font-size: 32px;
}

.todocard {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  border: 2px solid;
  border-color: rgb(27, 27, 27);
  margin: 5px;
  border-radius: 15x;
  background-color: rgb(44, 42, 42);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

button.deleteTodo {
  padding: 10px;
  background-color: rgb(148, 3, 3);
}

.todoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todoInput input {
  margin: 10px;
  width: 30vw;
  padding: 10px;
  border-radius: 10px;
}

.todoForm button {
  margin: 10px;
}
